<div class="renderedPost">
    <div class="renderedPostHeader ui secondary menu">
        <div class="item">
            <h5 class="postId">#{{id}}</h5>
        </div>
        <div class="item">
            <h5 class="postName">{{post_name}}</h5>
        </div>
        <div class="right menu">
            <div class="item">
                <h7>Posted by {{user_name}} on 6/15/23</h7>
            </div>
        </div>
    </div>
    <div class="renderedPostContent">
        <p>{{post_content}}</p>
    </div>
    <div class="displayCommentsDiv">
        <div class="ui black tertiary button displayCommentsBtn" id="{{id}}">
            View Comments
        </div>
        <div class="ui black tertiary button hideCommentsBtn" id="{{id}}">
            Hide Comments
        </div>
    </div>
    <div class="commentsSection" id="commentsSection{{id}}">
        {{!-- <div class="ui horizontal stackable one cards commentCardDiv"> --}}
            <div class="ui middle aligned list">
                {{#each comments}}
                <div class="item commentCard">
                    <div class="right floated content">
                        <p>{{comment_user}}<br>6/20/2023</p>
                    </div>
                    <div class="content">
                        <h3>{{comment_content}}</h3>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="ui button gray secondary commentBtn" id="{{id}}">
                Add Comment
            </div>
        </div>
    </div>