<div class="renderedPost">
    <div class="renderedPostHeader ui secondary menu">
        <div class="item">
            <h5 class="postId">#{{id}}</h5>
        </div>
        <div class="item">
            <h5 class="postName">{{post_name}}</h5>
        </div>
        <div class="right menu">
            <div class="item">
                <h7>Posted by {{user_name}} on 6/15/23</h7>
            </div>
        </div>
    </div>
    <div class="renderedPostContent">
        <p>{{post_content}}</p>
    </div>
    <div class="commentsSection">
        <div class="ui button commentBtn" id="{{id}}">
            Comment
        </div>
        <div class="ui list">
            <div class="item">
                <h3>Blabh blah blah good content g</h3>
                <h3>CRJ4637 6/19/2023</h3>
            </div>
        </div>
    </div>
</div>

<script>
        $('.commentModal')
            .modal('attach events', '.commentBtn')
       // .modal('show');
    </script>