<div class="yourPosts">
    <div class="renderedPostHeader ui secondary menu">
        <div class="item">
            <h5 class="postName" id="postName{{id}}">{{post_name}}</h5>
        </div>
        <div class="right menu">
            <div class="item">
                <h7 class="postDate">{{format_date createdAt}}</h7>
            </div>
        </div>
    </div>
    <div class="renderedPostContent">
        <p id="postContent{{id}}">{{post_content}}</p>
    </div>
    <div class="updateDeleteDiv">
        <div class="ui blue tertiary button updatePostBtn" id="{{id}}">
            Edit
        </div>
        <div class="ui red tertiary button deletePostBtn" id="{{id}}">
            Delete
        </div>
    </div>
</div>